In [13]:
from scipy import stats
import pandas as pd
import numpy as np
import os, sys
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
RESULT_DIR = '../../results/real-life/'
RESULT_FP = os.path.join(RESULT_DIR, 'road-traffic.csv')

In [15]:
result_df = pd.read_csv(RESULT_FP)
result_df.sort_values('caseid', inplace=True)

In [16]:
result_df.head()

,caseid,case_length,activity,final_conformance,avg_final_conformance,sum_mode_distance,mode_completeness,sum_exp_distance,exp_completeness,sequence_likelihood
0,A100,1,Create Fine,1.000000,1.000000,0.0,1.0,0.000000e+00,1.000000,0.999860
1,A100,2,Send Fine,1.000000,1.000000,0.0,1.0,5.551115e-17,1.000000,0.437411
2,A100,3,Insert Fine Notification,0.892776,0.964259,0.0,1.0,2.518818e-12,1.000000,0.244762
3,A100,4,Send for Credit Collection,0.559274,0.863012,0.0,1.0,6.489022e-02,0.984063,0.103408
4,A10000,1,Create Fine,1.000000,1.000000,0.0,1.0,0.000000e+00,1.000000,0.999860

In [17]:
result_df.describe()

,case_length,final_conformance,avg_final_conformance,sum_mode_distance,mode_completeness,sum_exp_distance,exp_completeness,sequence_likelihood
count,305496.000000,305496.000000,305496.000000,305496.000000,305496.000000,3.054960e+05,305496.000000,3.054960e+05
mean,2.442277,0.884403,0.962892,0.000749,0.999872,1.448253e-02,0.996490,4.438578e-01
std,1.126451,0.167654,0.052189,0.027230,0.004688,3.276110e-02,0.007510,3.491651e-01
min,1.000000,0.000000,0.416667,0.000000,0.800000,0.000000e+00,0.817844,1.282775e-10
25%,1.000000,0.892776,0.964259,0.000000,1.000000,0.000000e+00,1.000000,2.096243e-01
50%,2.000000,1.000000,1.000000,0.000000,1.000000,1.110223e-16,1.000000,3.749273e-01
75%,3.000000,1.000000,1.000000,0.000000,1.000000,2.518930e-12,1.000000,9.998600e-01
max,8.000000,1.000000,1.000000,1.000000,1.000000,8.909213e-01,1.000000,9.998600e-01

In [10]:
result_df.describe()

,case_length,final_conformance,avg_final_conformance,sum_mode_distance,mode_completeness,sum_exp_distance,exp_completeness,sequence_likelihood
count,305496.000000,305496.000000,305496.000000,305496.000000,305496.000000,3.054960e+05,305496.000000,3.054960e+05
mean,2.442277,0.884403,0.962892,0.000749,0.999872,1.448253e-02,0.996490,4.438578e-01
std,1.126451,0.167654,0.052189,0.027230,0.004688,3.276110e-02,0.007510,3.491651e-01
min,1.000000,0.000000,0.416667,0.000000,0.800000,0.000000e+00,0.817844,1.282775e-10
25%,1.000000,0.892776,0.964259,0.000000,1.000000,0.000000e+00,1.000000,2.096243e-01
50%,2.000000,1.000000,1.000000,0.000000,1.000000,1.110223e-16,1.000000,3.749273e-01
75%,3.000000,1.000000,1.000000,0.000000,1.000000,2.518930e-12,1.000000,9.998600e-01
max,8.000000,1.000000,1.000000,1.000000,1.000000,8.909213e-01,1.000000,9.998600e-01

In [11]:
result_df.caseid.unique().shape

(80016,)

In [12]:
result_df.shape[0]

305496